[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
rope = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
flask-restless = "*"
gunicorn = "*"
psycopg2 = "*"
faker = "*"

[requires]
python_version = "3.7"
