{% extends 'base.html' %} {% block container %}
<h1>Pedidos</h1>

<div>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Referência</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Status</th>
                    <th scope="col">Endereço</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td><a href="{{ url_for('order', ref=order.ref) }}">{{ order.ref }}</td>
                    <td>{{ order.contact }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}