{% extends 'base.html' %}

{% block container %}
{% from "helpers/_form_helpers.html" import render_field %}

<h1>Pedido de {{ order.contact }}</h1>
<div>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Cerveja</th>
                    <th scope="col" style="text-align: right;">Preço unitário</th>
                    <th scope="col" style="text-align: right;">Quantidades</th>
                    <th scope="col" style="text-align: right;">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.brews %}
                <tr>
                    <td>
                        {% if item.brew.image and item.brew.image != ''   %}
                        <img src="{{ item.brew.image }}" width="100px" />
                        {% endif %}
                    </td>
                    <td>{{ item.brew.name }}</td>
                    <td style="text-align: right;">{{ "{:,.2f} MT".format(item.brew.unit_price) }}</td>
                    <td style="text-align: right;">{{ item.quantity }}</td>
                    <td style="text-align: right;">{{ item.quantity * item.brew.unit_price }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="5" style="text-align: right;">
                        <h3>{{ "{:,.2f} Mt".format(total) }}</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col">
        <h2>Localização</h2>
        <img alt='location'
            src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/{{ order.longitude }},{{ order.latitude }},14.25,0,0/400x400?access_token=pk.eyJ1IjoiZHlvdGFtbyIsImEiOiJjanZkdGpvbnQwNmZtNGRwaHFjeTJzMTExIn0.UoLPLSMK5JK6ozw3Frh5mw'>

    </div>

    <div class="col">
        <form method="POST" action="{{ url_for('order', ref=order.ref) }}">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ render_field(form.response, class="form-control") }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-sm" value="Responder">
            </div>
        </form>
    </div>
</div>
{% endblock %}