{% extends 'base.html' %}

{% block container %}
{% from "helpers/_form_helpers.html" import render_field %}
<form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ render_field(form.csv, class="form-control-file") }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-sm" value="Carregar Produtos">
    </div>
</form>

<hr />

<h1>Produtos em stock</h1>

<div>
    <table class="table table-stripped">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Nome</th>
                <th scope="col">Categoria</th>
                <th scope="col" style="text-align: right;">Preço unitário</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><img src="{{ product.image }}" /></td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td style="text-align: right;">{{ "{:,.2f} Mt".format(product.unit_price) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}